/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


.bordes{
    padding: 20px;
}

input{
    margin:0px 0px 15px 0px;
}

.contenedor_boton{
    width: 100%;
}

.w-100{
    width: 100%;
}